version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: tx-generator-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=tx-generator

volumes:
  mongodb_data:
